@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Epilogue", sans-serif;
  background-color: #fafafa; }

.header {
  display: grid;
  grid-template-columns: 10rem 40rem 1fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 4rem; }
  .header__navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    color: rgba(105, 105, 105, 0.8);
    font-weight: 500;
    cursor: pointer; }
    .header__navigation__list--item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header__navigation__list--item:hover {
        color: #141414; }
  .header__common__list {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 2rem;
    font-size: 1.2rem; }
  .header__features__list {
    left: -4rem; }
    .header__features__list--item {
      display: flex; }
      .header__features__list--item-para {
        padding-left: 0.6rem; }
  .header__company__list {
    grid-template-rows: repeat(3, 1fr);
    left: -1rem; }
  .header__button {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: space-between;
    align-items: center; }
    .header__button--link {
      font-size: 1.5rem;
      color: dimgray;
      cursor: pointer;
      text-decoration: none;
      padding: 1rem 1.5rem;
      display: inline-block;
      border-radius: 1rem; }
      .header__button--link:hover {
        color: #141414; }
    .header__button--register {
      border: 2px solid currentColor; }

.icon {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  padding-left: 0.5rem; }

.icon-angle-up, .icon-angle-down {
  width: 2rem;
  cursor: pointer; }

.invisible {
  display: none;
  opacity: 0; }

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem 10rem; }
  .intro__description {
    display: grid;
    grid-template-rows: min-content min-content 6rem 1fr;
    grid-gap: 2rem;
    padding: 5rem; }
    .intro__description__heading {
      font-size: 7.8rem;
      font-weight: 700; }
    .intro__description__para {
      font-size: 1.8rem;
      font-weight: 500;
      color: dimgray;
      line-height: 1.5;
      padding: 2.5rem 0;
      padding-right: 3.6rem; }
    .intro__description__button {
      justify-self: start;
      border: none;
      border-radius: 1rem;
      font-size: 1.8rem;
      padding: 2rem 3rem;
      cursor: pointer;
      transition: all .2s;
      background-color: #141414;
      display: block;
      color: #fafafa; }
      .intro__description__button:hover {
        background-color: #fafafa;
        color: #141414;
        border: 2px solid #141414; }
    .intro__description__clients {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 3rem;
      justify-items: center;
      align-self: end;
      padding-top: 12rem;
      list-style: none; }
      .intro__description__clients img {
        height: 2.5rem; }
  .intro__image {
    padding: 0 5rem; }
    .intro__image__main {
      display: inline-block;
      width: 100%;
      height: 60rem;
      object-fit: contain; }
